<p-menu #menu [popup]="true" [model]="bookActions"></p-menu>

<div class="book_card">
  <div>{{ book.title }}</div>
  <div>{{ book.author.firstName }} {{ book.author.lastName }}</div>
  <div>{{ book.publisher.name }}</div>
  <div>{{ book.publishingDate | date }}</div>
  <div>{{ book.genre }}</div>
  <div>{{ book.isbn }}</div>
  <div>
    <p-tag
      severity="{{
        book.status.id == 1
          ? 'success'
          : book.status.id == 2
          ? 'warning'
          : 'danger'
      }}"
      [value]="book.status.name"
    ></p-tag>
  </div>
  <div *ngIf="accountService.currentUser$ | async">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-list"
      class="p-button-rounded p-button-sm p-button-text p-button-secondary"
      (click)="menu.toggle($event)"
    ></button>
  </div>
</div>
