header {
	display: flex;
	justify-content: space-between;
	height: 60px;
	margin: 10px;
}

.site_logo {
	width: 200px;
}

.auth_menu {
	display: flex;
	align-items: center;

	*:not(:first-child) {
		margin-left: 10px;
	}

	.username {
		font-weight: 500;
	}
}